OldProjects/ProWrite/Clients/ProWrite.UI.Controls/Config/Ribbon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ProWrite" elementFormDefault="qualified" targetNamespace="ProWrite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ribbon" nillable="true" type="tns:_Ribbon" />
  <xs:complexType name="_Ribbon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationMenu" type="tns:_ApplicationMenu" />
      <xs:element minOccurs="0" maxOccurs="1" name="PopMenus" type="tns:ArrayOf_PopMenu" />
      <xs:element minOccurs="0" maxOccurs="1" name="Pages" type="tns:ArrayOf_RibbonPage" />
      <xs:element minOccurs="0" maxOccurs="1" name="BarItems" type="tns:ArrayOf_BarItem" />
    </xs:sequence>
    <xs:attribute name="ApplicationIconKey" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="_ApplicationMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOf_PopMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PopMenu" nillable="true" type="tns:_PopMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_PopMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfString1" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOf_RibbonPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RibbonPage" nillable="true" type="tns:_RibbonPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_RibbonPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Groups" type="tns:ArrayOf_RibbonPageGroup" />
    </xs:sequence>
    <xs:attribute default="false" name="IsDefaultPage" type="xs:boolean" />
    <xs:attribute default="" name="CaptionKey" type="xs:string" />
    <xs:attribute default="" name="ModuleName" type="xs:string" />
    <xs:attribute default="" name="ModuleClazz" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOf_RibbonPageGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RibbonPageGroup" nillable="true" type="tns:_RibbonPageGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_RibbonPageGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOf_BarItemRef" />
    </xs:sequence>
    <xs:attribute default="" name="Name" type="xs:string" />
    <xs:attribute default="" name="CaptionKey" type="xs:string" />
    <xs:attribute default="false" name="ShowCaptionButton" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="ArrayOf_BarItemRef">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" type="tns:_BarItemRef" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_BarItemRef">
    <xs:attribute name="Ref" type="xs:string" />
    <xs:attribute default="false" name="BeginGroup" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="ArrayOf_BarItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BarItem" nillable="true" type="tns:_BarItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_BarItem">
    <xs:attribute default="" name="Name" type="xs:string" />
    <xs:attribute default="" name="CaptionKey" type="xs:string" />
    <xs:attribute default="" name="HintKey" type="xs:string" />
    <xs:attribute default="" name="ImageKey" type="xs:string" />
    <xs:attribute default="None" name="Shortcut" type="tns:Keys" />
    <xs:attribute default="BarButtonItem" name="Type" type="tns:BarItemType" />
    <xs:attribute default="" name="Clazz" type="xs:string" />
    <xs:attribute default="Default" name="ButtonStyle" type="tns:BarButtonStyle" />
    <xs:attribute default="true" name="Enable" type="xs:boolean" />
    <xs:attribute default="Always" name="Visiblity" type="tns:BarItemVisibility" />
    <xs:attribute default="" name="DropDownControl" type="xs:string" />
    <xs:attribute default="None" name="Command" type="tns:MenuCommands" />
    <xs:attribute default="" name="CommandHandler" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Keys">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="KeyCode" />
          <xs:enumeration value="Modifiers" />
          <xs:enumeration value="None" />
          <xs:enumeration value="LButton" />
          <xs:enumeration value="RButton" />
          <xs:enumeration value="Cancel" />
          <xs:enumeration value="MButton" />
          <xs:enumeration value="XButton1" />
          <xs:enumeration value="XButton2" />
          <xs:enumeration value="Back" />
          <xs:enumeration value="Tab" />
          <xs:enumeration value="LineFeed" />
          <xs:enumeration value="Clear" />
          <xs:enumeration value="Return" />
          <xs:enumeration value="Enter" />
          <xs:enumeration value="ShiftKey" />
          <xs:enumeration value="ControlKey" />
          <xs:enumeration value="Menu" />
          <xs:enumeration value="Pause" />
          <xs:enumeration value="Capital" />
          <xs:enumeration value="CapsLock" />
          <xs:enumeration value="KanaMode" />
          <xs:enumeration value="HanguelMode" />
          <xs:enumeration value="HangulMode" />
          <xs:enumeration value="JunjaMode" />
          <xs:enumeration value="FinalMode" />
          <xs:enumeration value="HanjaMode" />
          <xs:enumeration value="KanjiMode" />
          <xs:enumeration value="Escape" />
          <xs:enumeration value="IMEConvert" />
          <xs:enumeration value="IMENonconvert" />
          <xs:enumeration value="IMEAccept" />
          <xs:enumeration value="IMEAceept" />
          <xs:enumeration value="IMEModeChange" />
          <xs:enumeration value="Space" />
          <xs:enumeration value="Prior" />
          <xs:enumeration value="PageUp" />
          <xs:enumeration value="Next" />
          <xs:enumeration value="PageDown" />
          <xs:enumeration value="End" />
          <xs:enumeration value="Home" />
          <xs:enumeration value="Left" />
          <xs:enumeration value="Up" />
          <xs:enumeration value="Right" />
          <xs:enumeration value="Down" />
          <xs:enumeration value="Select" />
          <xs:enumeration value="Print" />
          <xs:enumeration value="Execute" />
          <xs:enumeration value="Snapshot" />
          <xs:enumeration value="PrintScreen" />
          <xs:enumeration value="Insert" />
          <xs:enumeration value="Delete" />
          <xs:enumeration value="Help" />
          <xs:enumeration value="D0" />
          <xs:enumeration value="D1" />
          <xs:enumeration value="D2" />
          <xs:enumeration value="D3" />
          <xs:enumeration value="D4" />
          <xs:enumeration value="D5" />
          <xs:enumeration value="D6" />
          <xs:enumeration value="D7" />
          <xs:enumeration value="D8" />
          <xs:enumeration value="D9" />
          <xs:enumeration value="A" />
          <xs:enumeration value="B" />
          <xs:enumeration value="C" />
          <xs:enumeration value="D" />
          <xs:enumeration value="E" />
          <xs:enumeration value="F" />
          <xs:enumeration value="G" />
          <xs:enumeration value="H" />
          <xs:enumeration value="I" />
          <xs:enumeration value="J" />
          <xs:enumeration value="K" />
          <xs:enumeration value="L" />
          <xs:enumeration value="M" />
          <xs:enumeration value="N" />
          <xs:enumeration value="O" />
          <xs:enumeration value="P" />
          <xs:enumeration value="Q" />
          <xs:enumeration value="R" />
          <xs:enumeration value="S" />
          <xs:enumeration value="T" />
          <xs:enumeration value="U" />
          <xs:enumeration value="V" />
          <xs:enumeration value="W" />
          <xs:enumeration value="X" />
          <xs:enumeration value="Y" />
          <xs:enumeration value="Z" />
          <xs:enumeration value="LWin" />
          <xs:enumeration value="RWin" />
          <xs:enumeration value="Apps" />
          <xs:enumeration value="Sleep" />
          <xs:enumeration value="NumPad0" />
          <xs:enumeration value="NumPad1" />
          <xs:enumeration value="NumPad2" />
          <xs:enumeration value="NumPad3" />
          <xs:enumeration value="NumPad4" />
          <xs:enumeration value="NumPad5" />
          <xs:enumeration value="NumPad6" />
          <xs:enumeration value="NumPad7" />
          <xs:enumeration value="NumPad8" />
          <xs:enumeration value="NumPad9" />
          <xs:enumeration value="Multiply" />
          <xs:enumeration value="Add" />
          <xs:enumeration value="Separator" />
          <xs:enumeration value="Subtract" />
          <xs:enumeration value="Decimal" />
          <xs:enumeration value="Divide" />
          <xs:enumeration value="F1" />
          <xs:enumeration value="F2" />
          <xs:enumeration value="F3" />
          <xs:enumeration value="F4" />
          <xs:enumeration value="F5" />
          <xs:enumeration value="F6" />
          <xs:enumeration value="F7" />
          <xs:enumeration value="F8" />
          <xs:enumeration value="F9" />
          <xs:enumeration value="F10" />
          <xs:enumeration value="F11" />
          <xs:enumeration value="F12" />
          <xs:enumeration value="F13" />
          <xs:enumeration value="F14" />
          <xs:enumeration value="F15" />
          <xs:enumeration value="F16" />
          <xs:enumeration value="F17" />
          <xs:enumeration value="F18" />
          <xs:enumeration value="F19" />
          <xs:enumeration value="F20" />
          <xs:enumeration value="F21" />
          <xs:enumeration value="F22" />
          <xs:enumeration value="F23" />
          <xs:enumeration value="F24" />
          <xs:enumeration value="NumLock" />
          <xs:enumeration value="Scroll" />
          <xs:enumeration value="LShiftKey" />
          <xs:enumeration value="RShiftKey" />
          <xs:enumeration value="LControlKey" />
          <xs:enumeration value="RControlKey" />
          <xs:enumeration value="LMenu" />
          <xs:enumeration value="RMenu" />
          <xs:enumeration value="BrowserBack" />
          <xs:enumeration value="BrowserForward" />
          <xs:enumeration value="BrowserRefresh" />
          <xs:enumeration value="BrowserStop" />
          <xs:enumeration value="BrowserSearch" />
          <xs:enumeration value="BrowserFavorites" />
          <xs:enumeration value="BrowserHome" />
          <xs:enumeration value="VolumeMute" />
          <xs:enumeration value="VolumeDown" />
          <xs:enumeration value="VolumeUp" />
          <xs:enumeration value="MediaNextTrack" />
          <xs:enumeration value="MediaPreviousTrack" />
          <xs:enumeration value="MediaStop" />
          <xs:enumeration value="MediaPlayPause" />
          <xs:enumeration value="LaunchMail" />
          <xs:enumeration value="SelectMedia" />
          <xs:enumeration value="LaunchApplication1" />
          <xs:enumeration value="LaunchApplication2" />
          <xs:enumeration value="OemSemicolon" />
          <xs:enumeration value="Oem1" />
          <xs:enumeration value="Oemplus" />
          <xs:enumeration value="Oemcomma" />
          <xs:enumeration value="OemMinus" />
          <xs:enumeration value="OemPeriod" />
          <xs:enumeration value="OemQuestion" />
          <xs:enumeration value="Oem2" />
          <xs:enumeration value="Oemtilde" />
          <xs:enumeration value="Oem3" />
          <xs:enumeration value="OemOpenBrackets" />
          <xs:enumeration value="Oem4" />
          <xs:enumeration value="OemPipe" />
          <xs:enumeration value="Oem5" />
          <xs:enumeration value="OemCloseBrackets" />
          <xs:enumeration value="Oem6" />
          <xs:enumeration value="OemQuotes" />
          <xs:enumeration value="Oem7" />
          <xs:enumeration value="Oem8" />
          <xs:enumeration value="OemBackslash" />
          <xs:enumeration value="Oem102" />
          <xs:enumeration value="ProcessKey" />
          <xs:enumeration value="Packet" />
          <xs:enumeration value="Attn" />
          <xs:enumeration value="Crsel" />
          <xs:enumeration value="Exsel" />
          <xs:enumeration value="EraseEof" />
          <xs:enumeration value="Play" />
          <xs:enumeration value="Zoom" />
          <xs:enumeration value="NoName" />
          <xs:enumeration value="Pa1" />
          <xs:enumeration value="OemClear" />
          <xs:enumeration value="Shift" />
          <xs:enumeration value="Control" />
          <xs:enumeration value="Alt" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="BarItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BarButtonItem" />
      <xs:enumeration value="BarCheckItem" />
      <xs:enumeration value="BarSubItem" />
      <xs:enumeration value="BarStaticItem" />
      <xs:enumeration value="RibbonGalleryBarItem" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BarButtonStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="DropDown" />
      <xs:enumeration value="Check" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BarItemVisibility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Always" />
      <xs:enumeration value="Never" />
      <xs:enumeration value="OnlyInCustomizing" />
      <xs:enumeration value="OnlyInRuntime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MenuCommands">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Exit" />
      <xs:enumeration value="Undo" />
      <xs:enumeration value="Redo" />
      <xs:enumeration value="Copy" />
      <xs:enumeration value="Paste" />
      <xs:enumeration value="Properties" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="OpenLibrary" />
      <xs:enumeration value="OpenLibraryFile" />
      <xs:enumeration value="Save" />
      <xs:enumeration value="SaveAs" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="NewLibraryGroup" />
      <xs:enumeration value="Pointer" />
      <xs:enumeration value="Drawing" />
      <xs:enumeration value="Line" />
      <xs:enumeration value="Rectangle" />
      <xs:enumeration value="Ellipse" />
      <xs:enumeration value="ArrowUp" />
      <xs:enumeration value="ArrowDown" />
      <xs:enumeration value="ArrowRight" />
      <xs:enumeration value="ArrowLeft" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Video" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="DynamicText" />
      <xs:enumeration value="DynamicVideo" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="InsertMessage" />
      <xs:enumeration value="InsertTimeSlice" />
      <xs:enumeration value="InsertPlaylist" />
      <xs:enumeration value="SendTo" />
      <xs:enumeration value="SendToLiveStorage" />
      <xs:enumeration value="SendToSign" />
      <xs:enumeration value="SendToPlaylist" />
      <xs:enumeration value="SendToScheduler" />
      <xs:enumeration value="LineDash" />
      <xs:enumeration value="LineColor" />
      <xs:enumeration value="LineThickness" />
      <xs:enumeration value="ColorFill" />
      <xs:enumeration value="DashboardNewSign" />
      <xs:enumeration value="DashboardNewSignGroup" />
      <xs:enumeration value="DashboardEdit" />
      <xs:enumeration value="Connect" />
      <xs:enumeration value="DisConnect" />
      <xs:enumeration value="StatusReport" />
      <xs:enumeration value="ChangePassword" />
      <xs:enumeration value="Dimming" />
      <xs:enumeration value="TempOffset" />
      <xs:enumeration value="LogView" />
      <xs:enumeration value="RebootCXC" />
      <xs:enumeration value="ResetTime" />
      <xs:enumeration value="FactoryReset" />
      <xs:enumeration value="SkipMessage" />
      <xs:enumeration value="ClearQMessage" />
      <xs:enumeration value="StopStartRender" />
      <xs:enumeration value="BlankSign" />
      <xs:enumeration value="DisplayTestPattern" />
      <xs:enumeration value="UpdateLiveView" />
      <xs:enumeration value="EditorNewMessage" />
      <xs:enumeration value="EditorBatchLoad" />
      <xs:enumeration value="EditorTextFont" />
      <xs:enumeration value="EditorTextFontSize" />
      <xs:enumeration value="EditorTextFontColor" />
      <xs:enumeration value="EditorTextBackgroundColor" />
      <xs:enumeration value="EditorTextBold" />
      <xs:enumeration value="EditorTextItalic" />
      <xs:enumeration value="EditorTextAlignLeft" />
      <xs:enumeration value="EditorTextAlignCenter" />
      <xs:enumeration value="EditorTextAlignRight" />
      <xs:enumeration value="EditorTextFrameFixed" />
      <xs:enumeration value="EditorTextFontSizeFixed" />
      <xs:enumeration value="EditorTextKern" />
      <xs:enumeration value="EditorTextLead" />
      <xs:enumeration value="EditorTextEffect" />
      <xs:enumeration value="EditorZoomIn" />
      <xs:enumeration value="EditorZoomOut" />
      <xs:enumeration value="PlaylistNew" />
      <xs:enumeration value="SchedulerNew" />
      <xs:enumeration value="UserManager" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>